<div class="huddle-list" ng-init="vm.getHuddles()">
    <div class="form-group">
        <input type="text" class="form-control" id="huddleFilter" ng-model="huddleFilter" placeholder="Huddle search...">
    </div>

    <div class="list-group">
        <a ng-href="/huddles/{{ huddle._id }}" class="list-group-item" ng-repeat="huddle in vm.huddleList | filter : huddleFilter"><strong>{{ huddle.name }}<strong> <span ng-repeat="program in huddle.program" class="badge">{{ program }}</span></a>
    </div>
</div>