* {
    border-color: #afbfcf !important;
}

body {
    padding-top: 72px;
    background-color: #ddd;
    color: #585858;
}

p, i {
    color: #484848;
}

.badge {
    margin-left: 8px;
}

.navbar-inverse {
    background-color: #484848;
}

#sidebar {
    padding: 4px;
    border-radius: 0;
    width: 12%;
}

#huddleFilter {
    height: 48px;
    font-size: 24px;
}

/*.form-group, .huddle-details {
    margin-top: 16px;
}*/