body {
    padding-top: 50px;
    background-color: #d8d8d8;
    color: #1e1e1e;
}

#sidebar {
    padding: 4px;
    border-radius: 0;
}

#huddleFilter {
    height: 48px;
    font-size: 24px;
}

.form-group, .huddle-details {
    margin-top: 16px;
}